.edit-btn,.edit-btn:hover ,.edit-btn:active {
    background-color: white !important;
    padding: 6px !important;
    border-color: blue !important;
    color: blue !important;
}

.feature-btn-deactive,.feature-btn-deactive:hover,.feature-btn-deactive:active {
    background-color: white !important;
    padding: 6px !important;
    color: red !important;
    width: 120px;

}
.feature-btn-active,.feature-btn-active:hover,.feature-btn-active:active{
    background-color: white !important;
    padding: 6px !important;
    border-color: green !important;
    color: green !important;
    width: 120px;

}
.status-btn-active,.status-btn-active:hover,.status-btn-active:active{
    background-color: white !important;
    padding: 6px !important;
    border-color: green !important;
    color: green !important;
    width: 80px;
    border-radius: 20px !important;
    cursor: default;
}
.status-btn-deactive,.status-btn-deactive:hover,.status-btn-deactive:active{
    background-color: white !important;
    padding: 6px !important;
    color: red !important;
    width: 80px;
    border-radius: 20px !important;
    cursor: default;

}
.action-add-btn,.action-add-btn:hover ,.action-add-btn:active {
    background-color: white !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    border-color: green !important;
    color: green !important;
    width: 80px;
}
.add-subcategory-btn-active,.add-subcategory-btn-active:hover ,.add-subcategory-btn-active:active{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: green !important;
    padding: 6px !important;
    border-color: green !important;
    color: white !important;
    width: 100%;
    cursor: default;
}

.add-subcategory-btn-de-active,.add-subcategory-btn-de-active:hover ,.add-subcategory-btn-de-active:active{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: red !important;
    padding: 6px !important;
    border-color: red !important;
    color: white !important;
    width: 100%;
    cursor: default;
}

.add-subcategory-btn-submit,.add-subcategory-btn-submit:hover ,.add-subcategory-btn-submit:active{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: blue !important;
    padding: 6px !important;
    border-color: blue!important;
    color: white !important;
    width: 100%;
    cursor: pointer;
}